@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

$font-heading: 'DM Serif Display', serif;
$font-body: 'Karla', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$body-font-size: 16px;

$mobile: 375px;


*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    font-size: 4.3rem;
    font-family: $font-heading;
    font-weight: $font-weight-normal;
    line-height: 1;

    @media only screen and (max-width: 913px){
        font-size: 45px;
     }
}

.under-line{
    background: hsl(0, 0%, 98%);
    width: 160px;
    height: 1px;
    margin-bottom: 60px;
}


// Nav

.nav{
    margin: 27px 7.5rem;
    display: flex;
    justify-content: space-between;
    font-family: $font-body;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    font-size: 16px;

    @media only screen and (max-width: 913px){
        margin: 20px 50px;
        display: inline;
    }
    
    .nav-logo{
        margin: 0 30px 30px;
        @media only screen and (max-width: 913px){
            display: flex;
            justify-content: space-between;
        }

        .nav-icon-open{
            display: none;
            @media only screen and (max-width: 913px){
                display: block;
            }
        }
        
    }
    &-links{
        li{
            list-style: none;
            display: inline;
            margin-right: 30px;
            color:hsl(216, 30%, 68%);
            transition: all .4s;

            @media only screen and (max-width: 913px){
                display: none;
            }

            &:hover{
                cursor: pointer;
                color:  hsl(270, 9%, 17%);
            }

            &:last-child{
                border: 2px solid hsl(270, 9%, 17%);
                padding: 7px 20px;
                color: hsl(270, 9%, 17%);

                &:hover{
                    cursor: pointer;
                    background:  hsl(270, 9%, 17%);
                    color: hsl(0, 0%, 98%);
                }
            }
        }
    }

  
}

.mobile{
    &-links{
        background: hsl(270, 9%, 17%);
        height: 100vh;
        text-align: center;
        padding: 30px 50px;
        background-image: url(/images/bg-pattern-mobile-nav.svg);
        background-position: right 90%;
        background-repeat: no-repeat;
        li{
            list-style: none;
            display: block;
            color:hsl(0, 0%, 98%);
            margin: 30px 0;
           

            &:hover{
                cursor: pointer;
                color:hsl(0, 0%, 98%);
            }


            &:last-child{
                border: 2px solid hsl(0, 0%, 98%);;
                padding: 7px 20px;
                color: hsl(0, 0%, 98%);

                &:hover{
                    cursor: pointer;
                    background:  hsl(0, 0%, 98%);
                    color: hsl(270, 9%, 17%);
                }
            }
        }
    }

}

// 

.hero-img-mobile{
    display: none;
    @media only screen and (max-width: 775px){
       display: flex;
     }
     img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

// Header
header{
    background: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    height: 95vh;
    position: relative;
    @media only screen and (max-width: 775px){
        height: 80vh;
     }
     @media only screen and (min-width: 1440px){
        height: 60vh;
       
     }

    .hero{
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding: 8rem 0 0;

        @media only screen and (min-width: 1440px){
            padding: 6rem 0 0;
            display: flex;
            justify-content: space-evenly;
         }

        @media only screen and (max-width: 775px){
           flex-direction: column;
           padding: 60px 0;
           margin: 0 20px;
           width: 100%;
        }

        .hero-description{
            margin-right: 50px;
            @media only screen and (max-width: 775px){
               text-align: center;
             }

            .underline{
                @extend .under-line;
                @media only screen and (max-width: 775px){
                    display: none;
                 }
            }

           .header{
                @extend .heading;
               
            }
            
    
            p{
                font-family: $font-body;
                margin: 30px 0;
                line-height: 1.5;
                word-spacing: 5px;
            }
    
            button{
                background: transparent;
                border: 2px solid hsl(0, 0%, 98%);
                color: hsl(0, 0%, 98%);
                padding: 10px 20px;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 700;
                transition: all .4s;
    
                &:hover{
                    background: hsl(0, 0%, 98%);
                    color: hsl(256, 26%, 20%);
                }
            }
        }

        .hero-img{
            @media only screen and (max-width: 775px){
                display: none;
             }
           
            img{
                width: auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    
    
    .hero-patterns{
        .left{
            position: absolute;
            top: 70%;
            left: -20px;
            @media only screen and (max-width: 775px){
                display: none;
             }
        }
    
        .right{
            position: absolute;
            right: 0;
            top: 0px;
            width: 30%;
            @media only screen and (max-width: 775px){
                display: none;
             }
        }
        .left-mobile{
            display: none;
            @media only screen and (max-width: 775px){
                display: block;
                position: absolute;
                top: 0;
                left: -30px;
             }
        }
    
        .right-mobile{
            display: none;
            @media only screen and (max-width: 775px){
                display: block;
                position: absolute;
                right: 0;
                top: 65%;
             }
        }
    }
}

// Features

.features{
    width: 85%;
    margin: 20rem auto 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
    @media only screen and (max-width: 913px){
        margin-top: 10rem;
        margin-bottom: 7rem;
        text-align: center;
     }

    .main-container{
        color: hsl(270, 9%, 17%);
        .underline{
            @extend .under-line;
            background: hsl(270, 9%, 17%);

            @media only screen and (max-width: 913px){
               margin: 0 auto 60px;
             }
        }
        &-heading{
            @extend .heading;
            word-spacing: 2.3px;
            margin-bottom: 60px;
        }

        &-features{
            display: flex;
            justify-content: space-around;

            @media only screen and (max-width: 913px){
                flex-direction: column;
              }
        
           
            &-1, &-2, &-3{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: column nowrap;

                @media only screen and (max-width: 913px){
                    margin-bottom: 50px;
                  }

                .header{
                    font-size: 1.8rem;
                    @extend .heading;
                    font-weight: 400;
                    margin: 30px 0 20px;

                }

                .details{
                    line-height: 1.5;
                    font-family: $font-body;
                    word-spacing: 2.5px;
                }
            }

        }
    }
}

// How it works

.how-we-work{
    background: hsl(256, 26%, 20%);
    background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 85%;
    height: 60%;
    padding: 70px;
    margin: 0 auto 6rem;
    position: relative;

    @media only screen and (max-width: 913px){
        background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
        width: 90%;
        background-position: top right;
        padding: 70px 30px;
      }

    .text{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 913px){
           flex-direction: column;
           justify-content: center;
           text-align: center;
          }

        p{
            @extend .heading;
            font-size: 3rem;
            color: hsl(0, 0%, 98%);
            @media only screen and (max-width: 913px){
                font-size: 2.5rem;
            }
        }

        button{
            background: transparent;
            border: 2px solid hsl(0, 0%, 98%);
            color: hsl(0, 0%, 98%);
            padding: 10px 20px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 700;
            transition: all .4s;

            @media only screen and (max-width: 913px){
                margin-top: 3rem;
            }

            &:hover{
                background: hsl(0, 0%, 98%);
                color: hsl(256, 26%, 20%);
            }
        }
    }

}

// Footer
footer{
    background: hsl(0, 0%, 98%);
    background-image: url(/images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 50px 10rem 20px;

    @media only screen and (max-width: 550px){
        background-image: url(/images/bg-pattern-footer-mobile.svg);
        padding: 50px 40px 20px;
    }

    .footer-nav{
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 550px){
           flex-direction: column;
           justify-content: center;
        }

        &-icons{
            @media only screen and (max-width: 550px){
                margin-top: 30px;
                text-align: center;
             }
            ion-icon{
                color: hsl(216, 30%, 68%);
                margin-right: 6px;
                cursor: pointer;
                font-size: 25px;

                &:hover{
                    color: hsl(270, 9%, 17%);
                }
            } 
        }
    }

    .underline{
        @extend .under-line;
        background: hsla(273, 6%, 68%, 0.897);
        width: 100%;
        margin: 30px 0;
    }

    .footer-links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $font-body;
        font-weight: 700;

        @media only screen and (max-width: 550px){
            flex-direction: column;
           text-align: center;
         }

        .company, .help, .contact, .others{
            p{
                color:hsl(216, 30%, 68%);
                margin-bottom: 30px;
                @media only screen and (max-width: 550px){
                   margin: 30px 0;
                 }
            }

            ul{
                list-style: none;
                li{
                    margin-bottom: 15px;
                    color: hsl(270, 9%, 17%);
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .attribution { 
        margin-top: 30px;
        font-size: 11px;
        text-align: center; 
    
        a{
            color: hsl(228, 45%, 44%); 
        }
    }
    
}



